# Entorno virtual
.venv/
venv/

# Caché de Python y pruebas
__pycache__/
*.pyc
*.pyo
.pytest_cache/

# Configuración de PyCharm / VS Code
.idea/
.vscode/

# Variables de entorno (credenciales, IPs locales)
.env

# Base de datos SQLite (ya no la usamos, pasamos a MongoDB)
db.sqlite3
# Node (solo para compilar Tailwind)
node_modules/
